<nav class="navbar">
    <div class="container-fluid">
        <div>
            <a href="/">
                <img src="../../../assets/logo-organizaGrana.svg" alt="Logo Organiza Grana" class="logo">
            </a>
        </div>
        <div class="d-flex gap-4">
            <div>
                <a href="/financas">
                    <span>Minhas Finanças</span>
                </a>
            </div>
            <div>
                <span>Como Usar</span>
            </div>
        </div>
    </div>
</nav>
  