<div class="d-flex vh-100">
    <div class="conteudo-esquerda w-50 d-flex flex-column justify-content-center gap-4">
        <div class="texto">
            <p>
                Bem vindo ao Organiza Grana, sua ferramenta completa para uma gestão financeira pessoal eficaz. Transforme a complexidade das suas finanças mensais e anuais em simplicidade e controle. Registre seus ganhos, acompanhe seus gastos, e defina metas claras para poupança e investimentos. Com Organiza Grana, você terá uma visão consolidada e detalhada do seu panorama financeiro, permitindo decisões informadas para alcançar seus objetivos.
            </p>
        </div>
        <div class="botao-financas">
            <button class="btn botao-padrao" (click)="navegarParaFinancas()">
                Comece organizando suas finanças
                <img class="ps-1 icone-financas" src="../../../assets/icon-financas.svg" alt="Ícone de Finanças">
            </button>
        </div>
    </div>
    <div class="conteudo-direita w-50 d-flex justify-content-center">
        <img class="w-100" src="../../../assets/imagem-home.svg" alt="Imagem ilustrativa">
    </div>
</div>